[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html, body {
  height: auto; /*needed for infinite-scroll*/
}
#logo {
	width: 155px;
	height: 155px;
	margin: 15px;
}
.site-sidenav.md-locked-open {
  width: 224px;
  min-width: 224px;
  max-width: 224px;
  background: #eee;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/**
 * IMSLP page styles
 */
.imslp-page .wp_header,
.imslp-page .inline-rating,
.imslp-page .noanon,
.imslp-page .we_file_info,
.imslp-page .we_file_info2,
.imslp-page .nojs2,
.imslp-page .jsonly,
.imslp-page .wm-headline,
.imslp-page .cp_mainlinks,
.imslp-page .toccolours,
.imslp-page .editsection,
.imslp-page .hidden {
	display: none;
}
.imslp-page .we_file_dlarrow:before {
	content: "\21e9";
	font-size: 24px;
	color: orange;
}
.imslp-page .we_edition_entry {
	margin-top: 0;
}
.imslp-page .we_edition_label {
	margin-bottom: 0;
	font-weight: bold;
}
.imslp-page table {
	border-spacing: 0;
	width: 100% !important;
}
.imslp-page .wi_head,
.imslp-page .wi_body {
	margin-bottom: 20px;
}
.imslp-page .wi_head th,
.imslp-page .wi_body th {
	text-align: left;
	width: 150px;
}
.imslp-page .wi_head td,
.imslp-page .wi_body td {
	padding-left: 20px;
}
/* end IMSLP page styles */
