[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
html, body {
	height: auto; /*needed for infinite-scroll*/
}
#logo {
	width: 155px;
	height: 155px;
	margin: 15px;
	outline: 0;
}
.site-body {
	min-height: 100vh;
}
.site-toolbar {
	height: auto;
	min-height: auto;
}
.site-sidenav,
.site-sidenav.md-locked-open {
	width: 224px;
	min-width: 224px;
	max-width: 224px;
	min-height: 100vh;
	background: #eeefee;
	border-right: 1px solid #cccdcc;
}
.search-text {
	font-size: 16px;
	border: none;
	border-radius: 2px;
}
.search-close:after {
	content: '\2a2f';
	font-size: 28px;
	color: #666;
	position: absolute;
	top: 5px;
	right: 18px;
}
a {
	text-decoration: none;
	position: relative;
}
a:hover {
	text-decoration: underline;
}

/**
 * IMSLP page styles
 */
.imslp-page .wp_header,
.imslp-page .inline-rating,
.imslp-page .noanon,
.imslp-page .we_file_info,
.imslp-page .we_file_info2,
.imslp-page .nojs2,
.imslp-page .jsonly,
.imslp-page .wm-headline,
.imslp-page .cp_mainlinks,
.imslp-page .toccolours,
.imslp-page .editsection,
.imslp-page .hidden {
	display: none;
}
.imslp-page .we_file_dlarrow {
	margin-right: 24px;
}
.imslp-page .we_file_dlarrow:before {
	content: "\21e9";
	font-size: 24px;
	color: orange;
    background: white;
    position: absolute;
    top: -8px;
    left: 0;
}
.imslp-page .we_edition_entry {
	margin-top: 0;
}
.imslp-page .we_edition_label {
	font-weight: bold;
}
.imslp-page table {
	border-spacing: 0;
	width: 100% !important;
}
.imslp-page .wi_head,
.imslp-page .wi_body {
	margin-bottom: 20px;
}
.imslp-page .wi_head th,
.imslp-page .wi_body th {
	text-align: left;
	width: 150px;
}
.imslp-page .wi_head td,
.imslp-page .wi_body td {
	padding-left: 20px;
}
/* end IMSLP page styles */
