<!doctype html>
<html ng-app="imslpApp">
<head>
	<title>Odhecaton</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
  <!-- build:css css/app.css -->
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel=stylesheet href="bower_components/angular-loading-bar/build/loading-bar.css">
  <link rel=stylesheet href="css/app.css">
  <!-- endbuild -->
</head>
<body ng-controller="NavCtrl" layout="column" ng-cloak>

  <!-- Toolbar -->
  <md-toolbar class="site-toolbar" layout="row" layout-align="center center">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" md-svg-icon="images/menu.svg"></md-icon>
      </md-button>
      <h1 hide-sm><a href="/">Odhecaton</a></h1>
    </div>

    <!-- Search -->
    <div ng-controller="SearchCtrl" flex="80" layout-padding>
      <input type="text"
        class="search-text"
        placeholder="Search IMSLP"
        ng-focus="searchFocus()"
        ng-model="search.text"
        ng-model-options="{debounce:300}"
        ng-change="searchTextChange(search.text)"
        spellcheck="false"
        layout-fill layout-padding>
      <span class="search-close" ng-click="searchClose()" ng-show="search.active"></span>
    </div>
  </md-toolbar>

  <div class="site-body" layout="row">

    <!-- Sidenav -->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z3" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>
      <img id="logo" src="http://imslp.org/imslp.png" ng-click="toggleSidenav('left')">
      <md-list>
        <md-list-item ng-repeat="item in menuItems" ng-click="nav($index)">
          {{item.title}}
        </md-list-item>
      </md-list>
    </md-sidenav>

    <!-- Content -->
    <md-content class="site-content" ng-view layout-padding flex>
      <!-- from partials -->
    </md-content>

  </div>

  <!-- build:js js/app.js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/app.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- endbuild -->
</body>
</html>
